body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: lightgoldenrodyellow;
}

header {
  padding: 20px 0;
  background-color: lightgoldenrodyellow;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  background-color: lightgoldenrodyellow;
}

header h1 {
  font-weight: 700;
  margin: 0;
  background-color: lightgoldenrodyellow;
}

header nav {
  display: flex;
  justify-content: flex-end;
  background-color: lightgoldenrodyellow;
}

header p {
  padding: 0 20px;
  margin: 0;
  background-color: lightgoldenrodyellow;
}

.jumbotron {
  display: flex;
  background-size: cover;
  height: 250px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-color: lightblue;
}

.jumbotron .container h3 {
  margin: 0 0 20px;
  color: #000000;
  background-color: lightblue;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  background-color: lightgoldenrodyellow;
}

.container .row .col-sm-3 .citation {
  font-size: 8px;
  background-color: lightgoldenrodyellow;
}

.container .row .col-sm-3 h5 {
  font-weight: 700;
  background-color: lightgoldenrodyellow;
}

.container .row .col-sm-6 .citation {
  font-size: 8px;
  background-color: lightgoldenrodyellow;
}

.container .row .col-sm-6 h5 {
  font-weight: 700;
  background-color: lightgoldenrodyellow;
}

.col-md-6 {
  margin: 0 0 30px;
  background-color: lightgoldenrodyellow;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: lightblue;
  text-shadow: none;
  background-color: lightgoldenrodyellow;
}

.btn.btn-primary:hover {
  background-color: lightblue;
}

.btn-secondary {
  background-color: lightblue;
  color: lightgoldenrodyellow;
  margin: 0 0 30px;
}